@import "config";
@import "loading";

$g-font-family:"Microsoft YaHei",SimHei,STHeiti,"Heiti SC",DINPro-Regular,sans-serif,SimSun,"MicrosoftJhengHei",MingLiu;
body{
  //font-family:$g-font-family;
}
.none{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
*{
  &:focus{
    outline: none !important;
  }
}
a{
  &:link,&:visited{
    text-decoration: none;
  }
  &:hover,&:active{
    text-decoration: none;
  }
}
input,textarea{
  -webkit-appearance: none;
}
.invisible{
  visibility: hidden;
}
img{
  vertical-align: top;
}
.img-full{
  width: 100%;
  height: auto;
  vertical-align: top;
}
.pointer{
  cursor: pointer;
}
.one-line{
  @include singleLine;
}
.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}
.ms-controller{
  display:none;
}
.fixed{
  position: fixed !important;
}
.single-line{
  @include singleLine;
}
/*********************水平和垂直居中对齐*********************/
.middle-outer{
  display:table;
  text-align:center;
  width: 100%;
  height: 100%;
  .middle-inner{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align:middle;
  }
}
/*********************顶部标题*********************/
ion-header{
  &.g-header{
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    .toolbar-title{
      color: #333;
      font-size: 17px;
    }
  }
}
.full-img{
  width: 100%;
  height: auto;
}
